body{
    margin: 0;
    background-color: rgb(132, 131, 131);
    height: 100vh; /* These are the styles that I changed */
    
}
#navigation-bar{
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navigation-bar div{
    background-color: rgb(130, 93, 44);
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 40px;
    
}
.hero{
    display: flex;
    
    height: 91%;
}
.hero1{
    background-color: rgb(123, 84, 118);
    height: 100%;
    width: 25%;
}
.hero2{
    display: flex;
    flex-direction: column;
    width:75% ;
    
    
    
}
.input-el{
    width: 100%;
    border-radius: 20px;
    height: 25px;
    border: none;
    margin-right: 15px;
    
}
.sending{
    display: flex;
    margin-top:10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.sending button{
    border-radius: 15px;
    height: 25px;width: 50px;
}
.ul-el{
    
    
    width: 100%;
}
.ul-el div{
    
    color: white;
    min-height: 50px;
    width: 240px;
    padding: 5px;
    border-radius: 15px;
    word-wrap: break-word;
    height: auto;
    }
a{
    text-decoration: none;
    color: white;
}
.my-message{
    background-color: skyblue;
}
.other-message{
    background-color: rgb(138, 210, 138);
    margin-left: auto;
}

#chat-container {
    overflow-y: auto;
    max-height: 80vh; /* Adjust this to your needs */
}
.nav1{
    color: white
}
.hero-text{
    color: white;
    font-size: xx-large;
}
.logo-img{
    width: 50px;  
    height: auto; 
    display: block;  
    margin-bottom: 5px;
}
@media (max-width:1024px){
    .hero-text{
        font-size: x-large;
    }
}
@media (max-width:600px){
    .hero-text{
        font-size: large;
    }
}
.ul-el .m-user-name{
    color: white;
    width: 180px;
    height: 20px;
}
.ul-el .o-user-name{
    color: white;
    
    
    height: 20px;
}
.ul-el .m-header-container{
    display: flex;
    margin-top: 20px;
    height: 20px;
    
}
.ul-el .o-header-container{
    margin-left: auto;
    display: flex;
    margin-top: 20px;
    height: 20px;
}
.ul-el .timestamp{
    width: 100px;
    height: 20px;
    
}
@media (min-width:600px){
    .ul-el div{
    
        color: white;
        min-height: 50px;
        height: auto;
        width: 400px;
        
        border-radius: 15px;
        }
}
@media (min-width:1024px){
    .ul-el div{
    
        color: white;
        min-height: 50px;
        height: auto;
        width: 500px;
        
        border-radius: 15px;
        }
}